
.item
  display: flex
  align-items: center
  padding: 0 8px
  height: 36px
  border-bottom: 1px solid #000
  border-left: 1px solid #000
  border-right: 1px solid #000
  &:first-child
    border-top: 1px solid #000

.gameName
  align-items: center
  width: 250px
  border-right: 1px dashed #000
  text-align-last: left

.releaseDate
  width: 120px
